<!DOCTYPE html>
<html>
  <head>
    <title>Beer Locker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      body {
        background:grey;
      }
      .heading {
        font-size: 4em
      }
      .subHeading {
        font-size: 3.5em;
      }
      .btn {
        font-size: 4em;
      }
    </style>
  </head>
  <body>
    <img class="img-fluid mx-auto d-block" src="/animatedLogo_grey.gif" alt="">
    <h1 class="heading" style="text-align:center">Hi <%= user.username %>!</h1>
    <h3 class="subHeading" style="text-align:center"><b><%= client.name %></b> is requesting <b>full access</b> to your account.</h3>
    <br>
    <h4 class="subHeading" style="text-align:center">Do you approve?</h4>
    <br>
    <form action="/api/oauth2/authorize" method="post">
      
      <input name="transaction_id" type="hidden" value="<%= transactionID %>">

      <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
          <div class="col-10">
            <div class="form-group">
              <input class="btn btn-success btn-block" type="submit" value="Allow" id="allow">
            </div> 
          </div>
        </div>
        <br>  
        <div class="row no-gutters justify-content-center">
          <div class="col-10">
            <div class="form-group">
              <input class="btn btn-danger btn-block" type="submit" value="Deny" name="cancel" id="deny">
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>